
<IfModule mod_rewrite.c>

  # Activar rewrite
  
  RewriteEngine on
  ErrorDocument 404 http://localhost:8080/mis_proyectos_web/prueba_tecnica/
  
  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f
  
  RewriteRule ^(.*)/(.*) index.php
  
</IfModule>